html {
	background-color: #E5E5E5;
	color: #000000;
	background-image: url("/static/images/noise.png");
}
body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: rgba(0,0,0,0);
}
.icon-facebook {
	background-image: url("/static/images/facebook.png");
	background-position: center center;
}
.sidebar-nav {
	padding: 0;
	background-color: rgba(0,0,0,0);
}
.navbar .brand {
	background: url("/static/images/logo.png") no-repeat 100px;
	width: 300px;
	height: 55px;
	padding: 0px;
}
.navbar .nav, .navbar .btn-group {
	margin-top: 10px;
}
.top{
	background-color: rgba(0, 0, 0, 0.03);
}
#map {
	height: 300px;
}

.topit.span2	{
	margin:0px;
}
.topsubmit{
	line-height: 34px;
	height: 34px;
    border: 2px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
    padding: 0px 3px;
	background: url("/static/images/best.gif") no-repeat scroll 5px transparent;
    text-indent: 20px;
	float:right;
}
.attribution.span4 {
	margin-left: -20px;
}
.topname {
	padding: 0;	
	line-height: 38px;
	vertical-align: middle;
	display:inline-block;
}
.imageform {
	display:none;
	margin:0px;
}
.pinform {
	margin: 20px 0 0px;
	visibility: hidden;
}
.thumb75 {
	margin: 0px 3px 3px 0px;
	float: left;
	width:75px;
	height:75px;
}

.thumb75 img {
	width:75px;
	height:75px;
	z-index: 1;
}
.rslides_nav.next {
	float:right;
}
.imagepicker {
	margin-left: auto;
	margin-right: auto;
	width: 170px;
	height: 170px;
	display:block;
	border: solid 1px;
}
.image-popout-shadow {
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	z-index: 2 !important;  
	position: absolute;
	behavior: url(/static/css/iepie/PIE.htc);
}
.imglink img{
	width: 36px;
	height: 36px;
}
.comment {
	margin-bottom: 5px;
}
.smallavatar {
	float:left;
}
.commentcontent {
	margin-left: 40px;
}
.pincontent {
	text-align: center;
}
.pinattribution {
	margin-top: 20px;	
}

.newtopwrap {
	padding: 0px 0;
	cursor: pointer;
	opacity:0.2;
	filter:alpha(opacity=20); /* For IE8 and earlier */
}
.newtopwrap:hover {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.newtop img{
	height: 40px;
	width: 40px;
}

.newtopform {
	display:none;
	margin: 5px;
	margin-bottom: -5px;
}
.toplocalname {
	display:none;
}
.translate {
	cursor: pointer;
}
.externallink {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=) no-repeat right;
	padding-right: 20px;
}
