{% extends "frontend/accounts/login.html" %}
{% block extra_head %}
<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
function upload_img(input) {
	if (input.files && input.files[0]) {
	    var reader = new FileReader();
	    reader.onload = function (e) {
	        $('#preview').attr('src', e.target.result);
		};
		reader.readAsDataURL(input.files[0]);
   };
};
</script>
{% endblock extra_head %}
{% block main %}
<div class="span6 offset3">
	<div class="alert alert-success alert-block">
		Please Add Some Additional Information
	</div>
	<form action="" method="post" class="form-horizontal">
	    {% csrf_token %}
	    <p style="text-align:center;">
	        <img src="{{ avatar }}" alt="Avatar" id="preview"/>
	    </p>
	    <input type="submit" class="btn btn-primary pull-right" value="Submit" />
		<div class="control-group">
			<label class="control-label">Username</label>
			<div class="controls"> 
			    <input type="text" name="username"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Change Avatar (optional)</label>
			<div class="controls"> 
			    <input type='file' onchange="upload_img(this);" name="avatar_file"/>
			</div>
		</div>
	    <input type="hidden" name="avatar_url" value="{{ avatar }}"/>
	</form>
</div>
{% endblock main %}