{% extends "base.html" %}

{% block content %}
<div class="span6 offset3">
  <p>Sorry but some error made you impossible to login.</p>
	{% for msg in messages %}
	    <p class="error">{{ msg.message }} ({{ msg.extra_tags }})</p>
	{% endfor %}
  {% if error_msg %}
    <p>Details:</p>
    <p class="error">{{ error_msg }}</p>
  {% endif %}
  {% debug %}

  <p>Please try again <a href="/">Home</a></p>
</div>
{% endblock %}