{% extends "frontend/site_base.html" %}
{% block navbarleft %}
  <div class="btn-group pull-right">
    <a class="btn" rel="nofollow" href="javascript:void(0)">
    <i class="icon-question-sign"></i> Why should I Sign In</a>
  </div>
{% endblock %}		
{% block main %}
<div id="content" style="text-align:center; padding-top: 50px;">
	<a rel="nofollow" href="{% url socialauth_begin 'facebook' %}">
		<img src="{{ STATIC_URL }}images/fblogin.png" alt="Login with FaceBook account" />
	</a>
	<h3>We never post without your order.</h3>
</div>
{% endblock main %}