{% extends "frontend/site_base.html" %}
{% block main %}
<div class="span6 offset3" style="margin-top: 50px;">
	<address>
		<strong> All enquiries please email to:</strong>
		<br/>
		<br/>
		<a href="mailto:contact@topsnam.com">contact@topsnam.com</a>
	</address>
</div>
{% endblock main %}

