{% extends "frontend/site_base.html" %}

{% block left_panel %}

{% endblock %}

{% block components %}
	<div class="best">
		<a href="#"><span class="number"><span>1</span></span>
			<span class="btext">Rice</span>
		</a>
		<div class="social">
			<a href="#" class="best">Best | 20 voted</a>
			<!-- <div class="fb-like" data-href="http://bocation.com/can tho/rice" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a> -->
		</div>
	</div>
	<div class="best">
		<a href="#"><span class="number"><span>2</span></span>
			<span class="btext">Lau Mam</span>
		</a>
	</div>
	<div class="best">
		<a href="#"><span class="number"><span>3</span></span>
			<span class="btext">Drink Beer on The River Side</span>
		</a>
	</div>
{% endblock %}