{% load thumbnail %}
<div class="comment clearfix">
	<div class="smallavatar">
	    <a href="javascript:void(0)" class="imglink">
	    	{% thumbnail comment.owner.userprofile.avatar "50x50" crop="center" quality=99 as im %}
	        	<img src="{{ im.url }}" alt="Picture of {{ comment.owner.username }}">
	        {% endthumbnail %}
	    </a>
   </div>
   <div class="commentcontent">
		<a href="/">{{ comment.owner.first_name }} {{ comment.owner.last_name }} </a>{{ comment.content }}
	</div>
 </div>