{% extends "frontend/top_list.html" %}
{% block headline %}
	<div class="alert alert-info">
        Top Things in {{ location.getfullname }}
        {% if location.superordinate %}
                - a {{ location.zoom.name }} of <a href="{{ locatioin.superordinate.path }}">{{ location.superordinate.getfullname }}</a>
        {% else %}
                - a city of <a href="/">Vietnam</a>
        {% endif %}
	</div>
{% endblock headline %}
{% block new_top %}
	<div class="newtopwrap well">
		<div class="newtop">
			<img src="{{ STATIC_URL }}images/greyplus.png">
			<span>Add new top thing for {{ location.getfullname }}</span>
		</div>
		<form class="newtopform form-horizontal">
			<div class="close">×</div>
			<div class="control-group">
				<label class="control-label">What is the good thing?</label>
				<div class="controls"> 
					<input type="text" name="name"/>
					<input type="submit" class="btn btn-primary" value="Submit New Top" />
				</div>
			</div>
			<div class="control-group" style="margin-bottom:0px;">
				<label class="control-label">How local say it? (optional)</label>
				<div class="controls"> 
					<input type="text" name="localname"/>
				</div>
			</div>
			<input type="hidden" name="locationid" value="{{ location.id }}" />
		</form>
	</div>
{% endblock new_top %}

{% block top_list %}
	{% for top in location.get_sorted_tops %}
		{% include "frontend/topboard.htm" %}
	{% endfor %}
{% endblock top_list %}

