{% load thumbnail %}
<div class="thumb75">
	{% thumbnail pin.image_cache "75x75" crop="center" quality=99 as im %}
	    <a href="{% url frontend_pingetdetails id=pin.id %}" title="{{ pin.name }}">
	    	<img src="{{ im.url }}">
	    </a>
	{% endthumbnail %}
</div>
