{% load thumbnail %}

<div class="modal-header">  
	<a class="close" data-dismiss="modal">×</a>  
	{% if pin.url %}<h3><a target="_blank" href="{{ pin.url }}" class="externallink">{{ pin.name }}</a></h3>{% else %}<h3>{{ pin.name }}</h3>{% endif %}  
</div>  
<div class="modal-body">  
	<div class="pincontent">
		{% if site == "youtube" %}
			<iframe width="420" height="315" src="http://www.youtube.com/embed/{{ youtube_id }}" frameborder="0" allowfullscreen>
			</iframe>
		{% else %}
			<img src={{ pin.image_url }}>
		{% endif %}
	</div>
	<div class="pinattribution">
		{% for comment in pin.commentpin_set.all %}
			{% include "frontend/comment.htm" %}
	    {% endfor %}
	 
		<form class="write comment">
			<div class="smallavatar">
	            <a href="javascript:void(0)" class="imglink">
	            	{% thumbnail request.user.userprofile.avatar "50x50" crop="center" quality=99 as im %}
	            		<img src="{{ im.url }}" alt="Picture of {{ request.user.username  }}">
	                {% endthumbnail %}
	            </a>
	       </div>
	       <div class="commentcontent">
	            <form class="commentform">
	            	<input name="pinid" type="hidden" value="{{ pin.pk }}" />
	                <textarea name="content" class="newcomment" maxlength="1000" placeholder="Add you comment..."></textarea>
	    			<input type="submit" class="btn" value="Comment"/>
	            </form>
	       </div>
	     </form>
	</div>
</div>  
<div class="modal-footer">  
<a href="javascript:void(0)" class="btn" data-dismiss="modal">Close</a>  
</div>  