<div class="slides">
	{% for thumb in thumbs %}
		<img src="{{ thumb }}" style="width: 170px; height: 170px;">
	{% endfor %}
</div>
{% if site == "youtube" %}
	<i style="background: url('{{ STATIC_URL}}images/play.png');bottom: 30px; width: 35px; height: 26px; position: absolute;"></i>
{% endif %}