{% extends "base.html" %}
{% block head %}
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/topsnam.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% endblock head %}

{% block content %}
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container-fluid">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      {% block navbarleft %}
		      {% if user.is_authenticated %}
			      <div class="btn-group pull-right">
			        <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
			          <i class="icon-user"></i> {{ user.username }}<span class="caret"></span>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="javascript:void(0)">Profile</a></li>
			          <li class="divider"></li>
			          <li><a href="{% url frontend_accountslogout %}">Sign Out</a></li>
			        </ul>
			      </div>
			  {% else %}
			      <div class="btn-group pull-right">
			        <a class="btn" rel="nofollow" href="{% url socialauth_begin 'facebook' %}">
			          <i class="icon-facebook"></i> Sign In with FaceBook</a>
			      </div>
			  {% endif %}
	      {% endblock navbarleft %}
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li class="active"><a href="{% url frontend_home %}">Home</a></li>
	          <li class="active"><a href="{% url frontend_about %}">About</a></li>
	          <li class="active"><a href="{% url frontend_contact %}">Contact</a></li>
	        </ul>
	      </div><!--/.nav-collapse -->
	      <a class="brand" href="{% url frontend_home %}"></a>
	    </div>
	  </div>
	</div><!--/ .navbar -->
	{% block main %}
	{% endblock main %}
{% endblock content %}
{% block extra_content %}
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=245401445484117";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
//Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26122686-3']);
  _gaq.push(['_setDomainName', 'topsnam.com']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock extra_content %}
