{% extends "frontend/site_base.html" %}
{% block extra_head %}
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.map.full.3.0RC.min.js"></script>
	<script type="text/javascript">
		{% include "frontend/topsnam.js" %}
	</script>
{% endblock extra_head %}
{% block main %}
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3">
	      <div class="well sidebar-nav">
	      	<div id="map"></div>
	      </div><!--/.well -->
	    </div><!--/span-->	
	    <div class="span9">
	    	 {% block headline %}
				<div class="alert alert-info">Top Things in Vietnam</div>
			  {% endblock headline %}	
			<div class="tophead">
				{% block new_top %}
				{% endblock new_top %}
	    	</div>
	    	{% block top_list %}
				{% for top in top_list %}
					{% if forloop.first %}
						<script type="text/javascript">
							var toploc = {{ top.location.pk }};
						</script>
					{% endif %}
					{% include "frontend/topboard.htm" %}
				{% endfor %}
			{% endblock top_list %}
	    </div><!--/span9-->
	  </div><!--/row-fluid-->
	</div><!--/container-fluid-->
	<div id="modal" class="modal hide fade in" style="display: none;"></div>  
{% endblock main %}
