{% load thumbnail %}

<div class="top well">
	<div class="row-fluid">
		<h2 class="topname span10">
			{{ top.name }}
			{% if top.local_name %}<span><span class="label label-info translate">local translation</span><span class="toplocalname">({{ top.local_name }})</span></span>{% endif %}
		</h2>
		<form class="topit span2" style="display:none;">
			<input name="topid" type="hidden" value= {{ top.pk }} />
			<input type="submit" value="Top It" class="topsubmit"/>
		</form>			
	</div>
	{% if not location  %}
	<div class="local">
		{% if forloop.first %}
			<img src="{{ STATIC_URL }}images/reddot.png" style="vertical-align: middle;">
		{% endif %}
		{{ top.location.crumb|safe }}
	</div>
	{% endif %}
	<div class="row-fluid">
			<div class="preview span8">
				<div class="crumb row-fluid">
					{% for pin in top.pin_set.all %}
						{% include "frontend/pincrumb.htm" %}						
					{% endfor %}
					<div class="thumb75 wait" style="text-align:center; display: none;">
						<span style="height: 100%; vertical-align: middle; display: inline-block;"></span>
				    	<img src="{{ STATIC_URL }}images/loading1.gif" style="width:30px;height:30px;vertical-align: middle; display:inline-block;"/>
					</div>
				</div>
				<form class="form-inline pinform">
					<label>Enter URL</label>
					<input name='pinurl' type="text" class="pinurl" placeholder="http://" />
					<input type="submit" class="btn" value="Get Images"/>
				</form>
				<form class="imageform row-fluid">
					<div class="span6">
						<div class="imagepicker">
							<div class="wait" style="text-align:center; display: none;">
								<span style="height: 100%; vertical-align: middle; display: inline-block;"></span>
						    	<img src="{{ STATIC_URL }}images/loading1.gif" style="width:30px;height:30px;vertical-align: middle; display:inline-block;"/>
							</div>
						</div>
					</div>
					<input type="hidden" value="" name="url" />
					<input type="hidden" value="" name="image_url" />
					<input type="hidden" value="{{ top.id }}" name="topid" />
			        <textarea name="name" class="pindesc span6" placeholder="Describe your pin..."></textarea>
			        <input type="submit" class="btn" value="Pin It!" />
				</form>
			</div>
			
			<div class="divider"></div>
			<div class="attribution span4">
				{% for comment in top.commenttop_set.all %}
					{% include "frontend/comment.htm" %}
	            {% endfor %}
				<form class="write comment">
					<div class="smallavatar">
		                <a href="javascript:void(0)" class="imglink">
		                	{% thumbnail request.user.userprofile.avatar "50x50" crop="center" quality=99 as im %}
		                		<img src="{{ im.url }}" alt="Picture of {{ request.user.username  }}">
		                    {% endthumbnail %}
		                </a>
		           </div>
		           <div class="commentcontent">
		                <form class="commentform">
		                	<input name="topid" type="hidden" value="{{ top.pk }}" />
		                    <textarea name="content" class="newcomment" data-topid="{{ top.id }}" id="commenttop-{{ top.id }}" maxlength="1000" placeholder="Add your comment..."></textarea>
		        			<input type="submit" class="btn" value="Comment"/>
		                </form>
		           </div>
	             </form>
			</div>
	</div>

</div>